<section class="catalog-section">
  <div class="container">
    <h2 id="catalog-anchor" class="title catalog-title">Catalog</h2>
    <ul class="catalog-list catalog-list-flex">
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat1-min.jpg"
            alt=""
            width="276"
            height="274"
          />
            <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">
          Tube Watch S42 Date Steel With Black...
        </h3>
        <p class="catalog-price">€395</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat2-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Avondale Watch Police For Men</h3>
        <p class="catalog-price">€800</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat3-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">
          Diver 300M Co-Axial Master Chronomete...
        </h3>
        <p class="catalog-price">€600</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat4-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p class="catalog-price">€1400</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat5-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Taman Watch By Police For Men</h3>
        <p class="catalog-price">€500</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat6-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Malawi Watch Police For Men</h3>
        <p class="catalog-price">€555</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat7-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">
          Diver 300M Co-Axial Master Chronometer
        </h3>
        <p class="catalog-price">€1200</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat8-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Greenlane Watch By Police For Men</h3>
        <p class="catalog-price">€1000</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat9-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Squardrc 5402 Chrono</h3>
        <p class="catalog-price">€359</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat10-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Diver 300M Co-Axial Master...</h3>
        <p class="catalog-price">€400</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat11-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Citizen</h3>
        <p class="catalog-price">€519</p>
      </li>
      
      <li class="catalog-list-item">
        <div class="catalog-photo-container">
          <img
            class="catalog-img"
            src="./img/images/wat12-min.jpg"
            alt=""
            width="276"
            height="274"
          />
          <div class="overlay">
              <h3 class="overlay-header">Description</h3>
              <p class="overlay-text">Richly detailed with an understated design - the Police Men’s Greenlane watch.</p>
              <h3 class="overlay-header">DETAILS & FEATUREStion</h3>
              <p class="overlay-text">Gender: man</p>
              <p class="overlay-text">Size: 46x54.5mm</p>
              <p class="overlay-text">Case Colour: Steel</p>
              <p class="overlay-text">Band Material: Metal</p>
              <p class="overlay-text">Case Material: Metal</p>
              <p class="overlay-text">Features: Multifunction</p>
              <p class="overlay-text">Water Resistant: 5 (ATM)</p>
              <p class="overlay-text">Band Colour: Steel</p>
            </div>
        </div>
        <h3 class="catalog-watch-name">Armani Exchange</h3>
        <p class="catalog-price">€400</p>
      </li>
    </ul>
    <button type="button" class="catalog-btn">buy now</button>
  </div>
</section>
