.list {
  list-style: none;
}

.h {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #1e2827;
}

.watch {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #141414;
  margin-bottom: 4px;
}

.paragraph {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  color: rgba(20, 20, 20, 0.5);
}

.container {
  width: 1440px;
  margin: 0 auto;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 64px;
}

.div {
  display: block;
  margin: 80px 132px 210px 132px;
}

.btn {
  display: block;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 18px 35px;
  background: #1e2827;
  border-radius: 8px;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 80px;
}
