<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600&family=Montserrat:ital,wght@0,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./catalog.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="div">
      <section class="section">
        <h2 class="h">Catalog</h2>
        <ul class="card-set container list flex-box">
          <li>
            <img src="./images/wat1-min.jpg" alt="" width="" />
            <h3 class="watch">Tube Watch S42 Date Steel With Black Case</h3>
            <p class="paragraph">€395</p>
          </li>
          <li>
            <img src="./images/wat2-min.jpg" alt="" />
            <h3 class="watch">Avondale Watch Police For Men</h3>
            <p class="paragraph">€800</p>
          </li>
          <li>
            <img src="./images/wat3-min.jpg" alt="" />
            <h3 class="watch">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </h3>
            <p class="paragraph">€600</p>
          </li>
          <li>
            <img src="./images/wat4-min.jpg" alt="" />
            <h3 class="watch">Diver 300M Co-Axial Master Chronometer</h3>
            <p class="paragraph">€1400</p>
          </li>
          <li>
            <img src="./images/wat5-min.jpg" alt="" />
            <h3 class="watch">Taman Watch By Police For Men</h3>
            <p class="paragraph">€500</p>
          </li>
          <li>
            <img src="./images/wat6-min.jpg" alt="" />
            <h3 class="watch">Malawi Watch Police For Men</h3>
            <p class="paragraph">€555</p>
          </li>
          <li>
            <img src="./images/wat7-min.jpg" alt="" />
            <h3 class="watch">Diver 300M Co-Axial Master Chronometer</h3>
            <p class="paragraph">€1200</p>
          </li>
          <li>
            <img src="./images/wat8-min.jpg" alt="" />
            <h3 class="watch">Greenlane Watch By Police For Men</h3>
            <p class="paragraph">€1000</p>
          </li>
          <li>
            <img src="./images/wat9-min.jpg" alt="" />
            <h3 class="watch">Squardrc 5402 Chrono</h3>
            <p class="paragraph">€359</p>
          </li>
          <li>
            <img src="./images/wat10-min.jpg" alt="" />
            <h3 class="watch">
              Diver 300M Co‑Axial Master Chronometer Chronograph
            </h3>
            <p class="paragraph">€400</p>
          </li>
          <li>
            <img src="./images/wat11-min.jpg" alt="" />
            <h3 class="watch">Citizen</h3>
            <p class="paragraph">€519</p>
          </li>
          <li>
            <img src="./images/wat12-min.jpg" alt="" />
            <h3 class="watch">Armani Exchange</h3>
            <p class="paragraph">€400</p>
          </li>
        </ul>
        <button type="button" class="btn">buy now</button>
      </section>
    </div>
  </body>
</html>
