<footer class="footer">
  <div class="container footer-container">
    <div class="footer-flex-container">
      <!-- ЛОГО І АДРЕСА -->
      <div class="footer-logo-flex footer-item">
        <a href="./index.html" class="footer-logo">
          <svg class="footer-logo-icon footer-icon">
            <use href="./img/sprite.svg#icon-logo"></use>
          </svg> thewatchspot
        </a>
        <address class="footer-address">
          <a href="tel:+380684439426" class="footer-address-link"
            >+380 (68) 443-94-26</a
          >
          <a
            href="https://www.google.com/maps"
            class="footer-address-link"
            target="_blank"
            rel="noopener noreferrer"
            >1678 S. Pioneer Road Salt Lake City UT 84104</a
          >
        </address>
      </div>
      <!-- ЯКОРІ ПО САЙТУ -->
      <ul class="footer-nav footer-item">
        <li class="footer-nav-anchor">
          <a href="" class="footer-nav-anchor-link">About us</a>
        </li>
        <li class="footer-nav-anchor">
          <a href="" class="footer-nav-anchor-link">Catalog</a>
        </li>
        <li class="footer-nav-anchor">
          <a href="" class="footer-nav-anchor-link">Sale</a>
        </li>
      </ul>
      <!-- СОЦІАЛЬНІ МЕРЕЖІ -->
      <ul class="footer-social footer-item">
        <li class="footer-social-item">
          <a
            href="https://www.facebook.com/"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon footer-icon" width="24" height="24">
              <use
                href="./img/sprite.svg#icon-facebook"
                class="footer-social-use-icon"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.instagram.com/"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon footer-icon" width="24" height="24">
              <use
                href="./img/sprite.svg#icon-instagram"
                class="footer-social-use-icon"
              ></use>
            </svg>
          </a>
        </li>
        <li class="footer-social-item">
          <a
            href="https://www.youtube.com/"
            class="footer-social-link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="footer-social-icon footer-icon" width="24" height="24">
              <use
                href="./img/sprite.svg#icon-youtube"
                class="footer-social-use-icon"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <!-- НИЖНІЙ ТЕКСТ на ПОСИЛАННЯ -->
    <div class="footer-bottom footer-bottom-flex">
      <p class="footer-bottom-text footer-bottom-flex-item">
        &#169;2022 The Watch Spot. All rights reserved.
      </p>
      <ul class="footer-bottom-list footer-bottom-flex-item">
        <li class="footer-bottom-list-link"><a href="">Privacy Policy</a></li>
        <li class="footer-bottom-list-link"><a href="">Terms of Service</a></li>
      </ul>
    </div>
  </div>
</footer>
