<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo link" href="">
        <img class="header-logo-img" src="./img/logo.svg" alt="" />
        thewatchspot</a
      >
      <ul class="header-list list">
        <li class="header-item">
          <a class="header-link link" href="./about-us.html">ABOUT US</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./catalog">CATALOG</a>
        </li>
        <li class="header-item">
          <a class="header-link link" href="./save">SALE</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="mob-menu-open" data-mobilemenu-open>
      <svg width="24" height="24" class="icon-menu">
        <use href="./img/sprite.svg#icon-gg_menu-left"></use>
      </svg>
    </button>
    <a class="button address-tel link" href="tel:+380684439426"
      >+380 (68) 443-94-26</a
    >
  </div>
</header>
