<section class="hero">
  <div class="container">
    <h1 class="hero-title">Welcome to our collection of premium watches</h1>
    <div>
      <img
        src="../img/hero-img/image.jpg"
        srcset="../img/hero-img/image@2x.jpg 2x"
        alt="clock"
      />
    </div>
    <p class="hero-text">
      Our watches are not just timepieces, but also an expression of your
      personality and lifestyle. From classic designs to modern ones, we have a
      watch to suit every taste and occasion.
    </p>

    <img
      src="../img/hero-img/Rectangle1.jpg"
      srcset="../img/hero-img/Rectangle1@2x.jpg 2x"
      alt="clock"
    />
  </div>
</section>
