<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <form class="watch__form">
       <span class="container-watch"> <img src="./images/IMG_9466 1.jpg" alt="photo-watch" width="274" />
        <h3 class="name-price">Tube Watch S42 Date Steel With Black Case</h3>
    <p class="text-price">€395</p></span>
    <span class="booking__decorative-container"></span>
    <label class="modal-form-fild">
                <span class="modal-form-input-desc">Full name</span>
                <span class="modal-form-input-wrapper">
                  <input
                    type="text"
                    name="Enter your full name"
                    required
                    placeholder="Enter your full name"
                    minlength="2"
                    class="watch__input-area modal-form-input"
                  />
                </span>
 <label class="modal-form-fild">
                <span class="modal-form-input-desc">Email</span>
                <span class="modal-form-input-wrapper">
                  <input
                    type="text"
                    name="Enter your email"
                    required
                    placeholder="Enter your email"
                    minlength="2"
                    class="watch__input-area modal-form-input"
                  />
                </span>
             <label class="modal-form-fild">
                <span class="modal-form-input-desc">Card number</span>
                <span class="modal-form-input-wrapper">
                  <input
                    type="text"
                    name="Card number"
                    required
                    placeholder="Card number"
                    minlength="2"
                    class="watch__input-area modal-form-input"
                  />
                </span>
                 <label class="modal-form-fild">
                <span class="modal-form-input-desc">Comments</span>
                <span class="modal-form-input-wrapper">
                  <input
                    type="text"
                    name="Enter your text"
                    required
                    placeholder="Enter your text"
                    minlength="2"
                    class="watch__input-area modal-form-input"
                  />
                </span>
                <button class="booking__btn button-submit" type="submit">
              submit
            </button>
            <p class="text">By clicking on “Send message” button, you agree to our Privacy Policy, 
and allow Promodo to use this information for marketing purposes.</p>
</form>
 <script src="./js/modal.js"></script>
  </body>
</html>
