<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="mdl-img-box">
      <img
        class="modal-img"
        srcset="./img/modal-img/IMG_94661@2x.jpg 2x"
        src="./img/modal-img/IMG_94661.jpg"
        alt="clock"
        height="276"
        width="274"
      />
      <p class="form-text">Tube Watch S42 Date Steel With Black Case</p>
      <p class="price">€395</p>
    </div>
    <form class="modal-form">
      <label class="modal-form-field"
        ><span class="modal-form-desc">Full name</span>
        <input
          class="form-input"
          type="text"
          name="user_name"
          required
          minlength="2"
          pattern="^[a-zA-Zа-яА-Я]+$"
          title=""
          placeholder="Enter your full name"
        />
      </label>
      <label class="modal-form-field"
        ><span class="modal-form-desc">Email</span>
        <input
          class="form-input"
          type="email"
          name="user_email"
          required
          placeholder="Enter your email"
      /></label>
      <label class="modal-form-field"
        ><span class="modal-form-desc">Card number</span>
        <input
          class="form-input"
          type="text"
          name="user_card_number"
          required
          pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}"
          title="xxxx-xxxx-xxxx-xxxx"
          placeholder="Enter card"
        />
      </label>

      <label class="modal-form-field"
        ><span class="modal-form-desc">Comment</span>
        <textarea
          class="form-coment"
          name="user_coment"
          placeholder="Enter your text"
        ></textarea>
      </label>

      <button type="submit" class="modal-form-send">submit</button>
      <p class="modal-text">
        By clicking on “Submit” button, you agree to our Privacy Policy, and
        allow Promodo to use this information for marketing purposes.
      </p>
    </form>
    <button type="button" class="modal-close" data-modal-close>
      <svg class="modal-close-icon" width="10" height="10">
        <use href="../img/sprite.svg#icon-x"></use>
      </svg>
    </button>
  </div>
</div>
