<section class="new-watches">
    <div class="container">
        <h2 class="new-watches-title">New watches</h2>
        <h3 class="new-watch-title">Green And Bronze—The Match Made In Heaven</h3>
            <ul class="new-watch-menu list">
                <li class="new-menu-item">
                    <picture>
                        <source
                        srcset="./img/new-watches-img/watch-hand-desktop.jpg 1x, ./img/new-watches-img/watch-hand-desktop@2x.jpg 2x"
                        media="(min-width: 1280px)"
                        />
                        <source
                        srcset="./img/new-watches-img/watch-hand-tablet.jpg 1x, ./img/new-watches-img/watch-hand-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)" 
                        />
                        <source
                        srcset="./img/new-watches-img/watch-hand-mobile.jpg 1x, ./img/new-watches-img/watch-hand-mobile@2x.jpg 2x"
                        media="(min-width: 375px)"
                        />
                       <img src="./img/new-watches-img/watch-hand-mobile.jpg" alt="hand" /> 
                    </picture>
                </li>
                    <li class="menu-item">
                    <picture>
                        <source
                        srcset="./img/new-watches-img/watch-desktop.jpg 1x, ./img/new-watches-img/watch-desktop@2x.jpg 2x" 
                        media="(min-width: 1280px)"
                        />
                        <source
                        srcset="./img/new-watches-img/watch-tablet.jpg 1x, ./img/new-watches-img/watch-tablet@2x.jpg 2x" 
                        media="(min-width: 768px)"
                        />
                        <source
                        srcset="/img/new-watches-img/watch-mobile.jpg 1x, ./img/new-watches-img/watch-mobile@2x.jpg 2x" 
                        media="(min-width: 375px)"
                        />
                        <img src="./img/new-watches-img/watch-mobile.jpg" alt="watch" />
                    </picture>
                </li>
                </ul>
    </div>
</section>