<section class="new-watches">
    <div class="container">
        <h2 class="new-watches-title">New watches</h2>
        <h3 class="watches-title">Green And Bronze—The Match Made In Heaven</h3>
            <ul class="list-menu list">
                <li class="menu-item">
                    <img
                    srcset="./img//new-watches-img/watch-hand-mobile@2x.jpg 2x"
                    src="./img/new-watches-img/watch-hand-mobile.jpg" alt="hand" width="335" height="260" /> 
                   
                </li>  
                <li class="menu-item">
                    <img
                    srcset="./img/new-watches-img/watch-mobile@2x.jpg 2x"
                    src="./img/new-watches-img/watch-mobile.jpg" alt="watch" width="335" height="260" />
                </li>
            </ul>
    </div>
</section>