<section class="sale-wrap">
  <h2 class="sale-title">Sale</h2>
  <div class="sale-content">
    <div class="sale-gallery">
      <ul class="sale-small-images">
        <li class="sale-small-images-item">
          <img src="./img/sale" alt="Small Image Watch" />
        </li>
        <li class="sale-small-images-item">
          <img src="./img/sale-img66-desctop.jpg" alt="Small Image Watch" />
        </li>
        <li class="sale-small-images-item">
          <img src="./img/sale-img65-desctop.jpg" alt="Small Image Watch" />
        </li>
        <li class="sale-small-images-item">
          <img src="./img/sale-img64-desctop.jpg" alt="Small Image Watch" />
        </li>
      </ul>
      <img
        class="sale-large-image"
        src="./img/sale-img-desctop.jpg"
        alt="Watch"
      />
    </div>

    <div>
      <p class="sale-text-title">Greenlane Watch By Police For MenHT</p>
      <p class="sale-text">Product tag: PEWJK2227003</p>
      <p class="sale-text-price">€700</p>
      <p class="sale-text-price-line">€1000</p>
    </div>
    <div class="description">
      <p class="sale-description">Description</p>
      <p class="sale-description-text">
        Richly detailed with an understated design - the Police Men’s Greenlane
        watch features a versatile multifunction design that fits effortlessly
        into work and play. The steel case is adorned with a semi-transparent
        black dial. The timepiece exhibits a contrast through a black IP
        bracelet with matching crown and pushers.
      </p>
    </div>
    <div class="description">
      <p class="sale-description">DETAILS & FEATUREStion</p>
      <p class="sale-description-text">
        Gender: man <br />
        Size: 46x54.5mm <br />
        Case Colour: Steel <br />
        Band Material: Metal Case <br />
        Material: Metal <br />
        Features: Multifunction <br />
        Water Resistant: 5 (ATM) <br />
        Band Colour: Steel
      </p>
    </div>
  </div>
</section>
