<section id="sale-wrapper" class="sale-wrapper-section">
  <div class="container">
    <h2 class="sale-title">Sale</h2>
    <div class="sale-content">
      <div class="sale-gallery">
        <div class="sale-small">
          <a class="sale-small-img" href="./img/sale/big/1.jpg">
            <picture>
              <source
                srcset="
                  ./img/sale/sale-img67-desctop.jpg    1x,
                  ./img/sale/sale-img67-desctop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale/sale-img67-tablet.jpg    1x,
                  ./img/sale/sale-img67-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source srcset="./img/sale/sale-img67-mobile.jpg 1x" />
              <img
                src="./img/sale/sale-img67-mobile.jpg"
                alt="Watch2"
                class="watch-two"
              />
            </picture>
          </a>
          <a class="sale-small-img" href="./img/sale/big/2.jpg"
            ><picture>
              <source
                srcset="
                  ./img/sale/sale-img64-desctop.jpg    1x,
                  ./img/sale/sale-img64-desctop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale/sale-img64-tablet.jpg    1x,
                  ./img/sale/sale-img64-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source srcset="./img/sale/sale-img64-mobile.jpg 1x" />
              <img
                src="./img/sale/sale-img64-mobile.jpg"
                alt="Watch3"
                class="watch-three"
              /> </picture
          ></a>
          <a class="sale-small-img" href="./img/sale/big/3.jpg"
            ><picture>
              <source
                srcset="
                  ./img/sale/sale-img65-desctop.jpg    1x,
                  ./img/sale/sale-img65-desctop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale/sale-img65-tablet.jpg    1x,
                  ./img/sale/sale-img65-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source srcset="./img/sale/sale-img65-mobile.jpg 1x" />
              <img
                src="./img/sale/sale-img65-mobile.jpg"
                alt="Watch3"
                class="watch-three"
              /> </picture
          ></a>
          <a class="sale-small-img" href="./img/sale/big/4.jpg"
            ><picture>
              <source
                srcset="
                  ./img/sale/sale-img66-desctop.jpg    1x,
                  ./img/sale/sale-img66-desctop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/sale/sale-img66-tablet.jpg    1x,
                  ./img/sale/sale-img66-tablet@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source srcset="./img/sale/sale-img66-mobile.jpg 1x" />
              <img
                src="./img/sale/sale-img66-mobile.jpg"
                alt="Watch3"
                class="watch-three"
              /> </picture
          ></a>
        </div>
        <div class="sale-big">
          <img
            class="sale-big-gallery"
            src="./img/sale/sale-img-desctop.jpg"
            alt="Старт"
          />
        </div>
      </div>

      <div class="sale-text-wrap">
        <div>
          <p class="sale-text-title">Greenlane Watch By Police For MenHT</p>
          <p class="sale-text">Product tag: PEWJK2227003</p>
        </div>
        <div class="sale-price-list">
          <p class="sale-text-price">€700</p>
          <p class="sale-text-price-line">€1000</p>
        </div>
        <div class="description">
          <p class="sale-description-title">Description</p>
          <p class="sale-description-text">
            Richly detailed with an understated design - the Police Men’s
            Greenlane watch features a versatile multifunction design that fits
            effortlessly into work and play. The steel case is adorned with a
            semi-transparent black dial. The timepiece exhibits a contrast
            through a black IP bracelet with matching crown and pushers.
          </p>
        </div>
        <div class="details">
          <p class="sale-details-title">Details & Featurestion</p>
          <p class="sale-details-text">
            Gender: man <br />
            Size: 46x54.5mm <br />
            Case Colour: Steel <br />
            Band Material: Metal Case <br />
            Material: Metal <br />
            Features: Multifunction <br />
            Water Resistant: 5 (ATM) <br />
            Band Colour: Steel
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/jquery-3.3.1.min.js"></script>
  <script src="./js/sale.js"></script>
</section>
