.about-us-section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.about-us-title {
  margin-bottom: 40px;
}
.about-us-item {
  margin-bottom: 20px;
}
.about-us-paragraph {
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.about-us-media {
  min-height: 365px;
  margin-top: 40px;
  background-image: url(../img//about-us/about-us-gif-hd.gif),
    url(../img//about-us/about-us.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-us-gif {
  display: none;
}
/* ==================== 375 */
@media screen and (min-width: 375px) {
}
/* ====================768 */
@media screen and (min-width: 768px) {
  .about-us-section {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .about-us-media {
    min-height: 465px;
  }
  .about-us-flex-tool {
    display: flex;
    justify-content: space-between;
  }
  .about-us-list {
    display: flex;
    justify-content: space-between;
  }
  .about-us-item {
    margin-bottom: 0;
  }
  .about-us-title {
    font-size: 40px;
    margin-bottom: 0;
    margin-right: 40px;
    min-width: 180px;
  }

  .about-us-item:not(:last-child) {
    margin-right: 20px;
  }
}
/* ==================1280 */
@media screen and (min-width: 1280px) {
  .about-us-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .about-us-title {
    display: flex;
    margin-right: 0;
    width: 100%;
  }
  .about-us-item:not(:last-child) {
    margin-right: 40px;
  }
  .about-us-gif {
    display: block;
    margin-top: 40px;
  }
  .about-us-media {
    display: none;
  }
}
