.catalog-list-item:nth-last-child(-n + 4) {
  display: none;
}

.catalog-section {
  padding-bottom: 80px;
}

.catalog-watch-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: var(--black-color);
  margin-top: 14px;
  margin-bottom: 4px;
}

.catalog-price {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(20, 20, 20, 0.5);
}

.catalog-title {
  margin-bottom: 40px;
}
.catalog-btn {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #1e2827;
  border-radius: 8px;
  padding: 14px 28px;
  margin-left: auto;
  border: 1px solid #1e2827;
  transition: 250ms linear;
}

.catalog-btn:hover,
.catalog-btn:focus {
  border: 1px solid #ffffff;
}

.catalog-list {
  margin-bottom: 40px;
}

.catalog-photo-container {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.overlay {
  position: absolute;
  top: 0;
  background-color: #1e2827;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  display: flex;
  align-items: center;
  line-height: 24px;
  letter-spacing: 0.02em;
  padding: 0px 20px 20px 20px;
  align-items: flex-start;
  transform: translateY(100%);
  transition: transform 250ms linear;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.catalog-list-item:hover .overlay {
  transform: translateY(0);
}

.overlay-header {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #ffffff;

  margin-top: 26px;
  margin-bottom: 10px;
}

.overlay-text {
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;

  letter-spacing: -0.01em;

  color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 767px) {
  .catalog-list-item:nth-child(-n + 7) {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .catalog-list-item:nth-child(2n + 1) {
    margin-right: 32px;
  }
}

@media screen and (min-width: 768px) {
  .catalog-list-flex {
    row-gap: 90px;
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-list-item:nth-child(7) {
    margin-bottom: 0;
  }
  .catalog-title {
    font-size: 40px;
    line-height: 1.1;
  }
}

@media screen and (min-width: 1280px) {
  .catalog-list-item:nth-last-child(-n + 4) {
    display: block;
  }
  .catalog-list-item:not(:nth-child(4n)) {
    margin-right: 24px;
  }
  .catalog-list-item {
    width: 276px;
    cursor: pointer;
  }
  .catalog-photo-container {
    padding-top: 26px 0 25px;
  }

  .catalog-title {
    font-size: 40px;
  }

  /* .catalog-list-item:last-child {
    margin-bottom: 40px;
  } */
}
