.footer {
  color: var(--white-color);
  background-color: var(--accent-color);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-container {
  position: relative;
}

.footer-icon {
  fill: currentColor;
}

.footer-logo-icon {
  width: 40px;
  height: 40px;
}

.footer-nav-anchor {
  text-transform: uppercase;
}

.footer-bottom-text,
.footer-bottom-list-link {
  color: rgba(198, 205, 209, 0.9);
}
/* SOCIAL */
.footer-social-link {
  display: inline-block;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
}

.footer-social-icon {
  display: block;
}

.footer-social {
  display: flex;
}

.footer-social-item:not(:first-child) {
  margin-left: 14px;
}

/* LOGO DIV */
.footer-logo {
  display: flex;
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 1;
  letter-spacing: -0.03em;
  color: #ffffff;
  gap: 4px;
  align-items: center;
}

.footer-logo-flex {
  display: inline-block;
}

.footer-address-link {
  display: inline-block;
  font-style: normal;
}

.footer-address-link:not(:last-child) {
  margin-bottom: 20px;
}

/* ЯКОРІ */
.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav-anchor:not(:last-child) {
  margin-bottom: 14px;
}

/* BOTTOM-TEXT */
.footer-bottom {
  font-size: 12px;
  line-height: 1.17;
}

.footer-bottom-list {
  display: flex;
}

.footer-bottom-list-item:not(:first-child) {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .footer-nav {
    position: absolute;
    top: 0;
    right: 20px;
  }

  .footer-logo-flex {
    margin-bottom: 40px;
  }

  .footer-bottom-text {
    margin-bottom: 14px;
  }

  .footer-social-link {
    margin-bottom: 80px;
  }

  .footer-logo-flex {
    width: 141px;
  }
}

/* @media screen and (min-width: 375px) {
} */

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-logo-icon {
    width: 50px;
    height: 50px;
  }

  .footer-flex-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
  }

  .footer-logo-flex {
    width: 181px;
  }

  .footer-nav {
    min-width: 81px;
  }

  .footer-item:not(:first-child) {
    margin-left: 142px;
  }

  .footer-bottom-flex {
    display: flex;
    justify-content: space-between;
  }

  .footer-social-icon {
    width: 28px;
    height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 104px;
  }
}

/* HOVER FOCUS */
.footer-address-link,
.footer-nav-anchor-link,
.footer-social-link,
.footer-bottom-list-link {
  transition: color 250ms linear;
}

.footer-address-link:is(:hover, :focus),
.footer-nav-anchor-link:is(:hover, :focus),
.footer-social-link:is(:hover, :focus),
.footer-bottom-list-item:is(:hover, :focus) {
  color: aqua;
}

.footer-social-link .footer-social-icon {
  transition: transform 250ms var(--cubic-function);
}

.footer-social-link {
  transition: border-color 250ms linear;
}

.footer-social-link:is(:hover, :focus) {
  border-color: transparent;
}

.footer-social-link:is(:hover, :focus) .footer-social-icon {
  transform: scale(1.5);
}

.footer-bottom-list-link:hover,
.footer-bottom-list-link:focus {
  color: aqua;
}

.footer-bottom-list-link {
  transition: color 250ms linear;
}
