.header-logo {
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 40px;
}


.header-link{ 
font-weight: 400;
font-size: 9px;
line-height: 0.75;
text-align: center;
text-transform: uppercase;
color: #fff;
} 


.button {
font-size: 9px;
line-height: 0.75;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
padding: 16px 35px;
background: #1E2827;
border-radius: 8px;
}

