/* Modal-window */
/* * { */
/* outline: 1px solid red; */
/* } */

.modal-wind-container {
  position: fixed;
  background-color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 374px) {
  .modal-wind-container {
    width: 100%;
  }
}

@media screen and (min-width: 375px) {
  .modal-wind-container {
    width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .modal-wind-container {
    width: 744px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-wind-container {
    width: 904px;
  }
}
