/* Modal-window */
.modal-container {
  z-index: 5;
}

.modal-wind-container {
  position: absolute;
  background-color: white;
  top: 70%;
  left: 59%;
  transform: translate(-50%, -40%);
  padding-left: 40px;
  padding-right: 40px;
  overflow: auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
}

.modal-close {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 17px;
  right: 17px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
}

.modal-close::before {
  content: '';
  background-color: var(--black-color);
  height: 10px;
  width: 1.3px;
  position: absolute;
  top: 25%;
  right: 50%;
  transform: rotate(45deg);
}

.modal-close::after {
  content: '';
  background-color: var(--black-color);
  height: 10px;
  width: 1.3px;
  position: absolute;
  top: 25%;
  right: 50%;
  transform: rotate(-45deg);
}

.booking__decorative-container {
  display: flex;
  gap: 40px;
}

.container-watch {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.container-watch-img {
  display: flex;
  align-self: center;
  justify-content: center;
  box-sizing: border-box;
}

.container-watch-pic {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 10px, 10px;
}

.name-price {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: 125%;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  color: var(--black-color);
}

.text-price {
  font-family: 'Epilogue', sans-serif;
  font-size: 12px;
  line-height: 116%;
  font-weight: 400;
  color: rgba(20, 20, 20, 0.5);
  margin-top: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-form-fild {
  display: flex;
  flex-direction: column;
  /* margin-left: auto;
  margin-right: auto; */
}

.modal-form-input-desk {
  font-family: 'Epilogue', sans-serif;
  font-size: 12px;
  line-height: 116%;
  font-weight: 400;
  color: var(--black-color);
  display: flex;
}

.modal-form-input-wrapper {
  font-family: 'Epilogue', sans-serif;
  font-size: 12px;
  line-height: 116%;
  font-weight: 400;
  letter-spacing: -2%;

  color: red;
}

.modal-form-massage,
.modal-form-input {
  border: 1px solid rgba(20, 20, 20, 0.5);
  border-radius: 8px;
}

.modal-form-massage:hover,
.modal-form-massage:focus,
.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  transition: all 300ms var(--cubic-function);
}

.modal-form-input:focus.modal-form-input::placeholder,
.modal-form-massage:focus.modal-form-massage::placeholder {
  color: var(--accent-color);
}

.modal-form-input {
  width: 295px;
  height: 42px;
  padding: 0 16px;
  font-size: 14px;
  line-height: 116%;
  font-weight: 400;
  color: var(--black-color);
}

.modal-form-massage {
  width: 295px;
  height: 170px;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 116%;
  font-weight: 400;
  color: var(--black-color);
  resize: none;
  overflow: hidden;
}

.modal-form-massage::placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: 125%;
  font-weight: 400;
  color: rgba(20, 20, 20, 0.5);
  letter-spacing: -2%;
  transition: all 300ms var(--cubic-function);
}

.modal-form-input::placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 14px;
  line-height: 125%;
  font-weight: 400;
  color: rgba(20, 20, 20, 0.5);
  letter-spacing: -2%;
  transition: all 300ms var(--cubic-function);
}

.modal-form-btn {
  width: 295px;
  background-color: #1e2827;
  color: #ffffff;
  font-size: 12px;
  line-height: 114%;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 0;
  text-transform: uppercase;
  border-radius: 8px;
  margin-top: 20px;
  border: 1px solid #1e2827;
  transition: all 300ms var(--cubic-function);
  cursor: pointer;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  border: 1px solid #ffffff;
}

.modal-form-btn:focus {
  outline: none;
}

.modal-form-text,
.modal-form-link {
  font-family: 'Epilogue', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 295px;
  margin-top: 12px;
  font-size: 12px;
  line-height: 117%;
  color: rgba(20, 20, 20, 0.4);
}

.modal-form-link {
  text-decoration: underline;
}

@media screen and (max-width: 374px) {
  .modal-wind-container {
    width: 100%;
    padding: 20px 10px;
  }

  .booking__decorative-container {
    flex-direction: column;
    justify-content: center;
  }

  .name-price {
    margin-top: 14px;
    margin-left: 20px;
  }

  .text-price {
    margin-left: 20px;
  }

  .modal-form {
    gap: 18px;
  }

  .modal-form-fild {
    gap: 12px;
  }
}

@media screen and (min-width: 375px) {
  .modal-wind-container {
    width: 375px;
  }

  .booking__decorative-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .name-price {
    margin-top: 14px;
    margin-left: 10px;
  }

  .text-price {
    margin-left: 10px;
  }

  .modal-form {
    gap: 18px;
  }

  .modal-form-fild {
    gap: 12px;
  }
}

@media screen and (min-width: 768px) {
  .modal-wind-container {
    width: 744px;
    padding: 40px;
    position: fixed;
    background-color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .modal-form-input-desk {
    font-size: 14px;
  }

  .booking__decorative-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  .modal-form-input,
  .modal-form-input::placeholder,
  .modal-form-massage,
  .modal-form-massage::placeholder {
    width: 368px;
    font-size: 16px;
    line-height: 112%;
  }

  .name-price {
    width: 276px;
    margin-left: 0;
  }

  .text-price {
    margin-left: 0;
  }

  .modal-form {
    margin-left: 0;
    margin-right: 0;
  }

  .modal-form-fild {
    margin-left: 0;
    margin-right: 0;
  }

  .modal-form-btn {
    width: 368px;
    margin: 0;
  }

  .modal-form-text {
    margin: 0;
    width: 368px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-wind-container {
    width: 904px;
  }

  .modal-form-input,
  .modal-form-input::placeholder,
  .modal-form-massage,
  .modal-form-massage::placeholder {
    width: 508px;
    font-size: 16px;
    line-height: 112%;
  }

  .booking__decorative-container {
    gap: 40px;
  }

  .modal-form {
    gap: 24px;
  }

  .modal-form-btn {
    width: 506px;
  }

  .modal-form-text {
    width: 506px;
  }
}
