.new-watches {
    display: block;
    padding-bottom: 80px;
}
.new-watches-title {
font-family: 'Epilogue';
font-weight: 300;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.06em;
color: rgba(20, 20, 20, 0.4);
margin-bottom: 8px;

}
.watches-title {
font-family: 'Epilogue';
font-weight: 600;
font-size: 32px;
line-height: 1.25;
letter-spacing: -0.02em;
color: #141414;
width: 335px;
height: 120px;
margin-bottom: 40px;
}

.menu-item:not(:last-child) {
    margin-bottom: 20px;
    }