/* Sale Section */
.sale-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}
.sale-title {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.02em;
  align-items: flex-start;
  color: var(--black-color);
}

.sale-gallery {
  display: flex;
  margin-bottom: 40px;
}

.sale-small-images {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-right: 20px;
  gap: 10px;
}
/* Text */

.sale-text-title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.sale-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.sale-price-list {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
}
.sale-text-price {
  font-family: 'Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--black-color);
}
.sale-text-price-line {
  margin-left: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-decoration-line: line-through;
  color: var(--black-color);
}

/* description */
.description {
  margin-bottom: 20px;
}
.description::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--black-color);
  border-radius: 1px;
  left: 0;
  margin-bottom: 8px;
}
.sale-description-title {
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-color);
}
.sale-description-title::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 1px;
  background-color: var(--black-color);
  margin-left: 215px;
  margin-bottom: 5px;
}
.sale-description-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(20, 20, 20, 0.5);
}

/* details */
.details::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--black-color);
  border-radius: 1px;
  left: 0;
  margin-bottom: 8px;
}

.sale-details-title {
  margin-bottom: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black-color);
}
.sale-details-title::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 1px;
  background-color: var(--black-color);
  margin-left: 121px;
  margin-bottom: 5px;
}
.sale-details-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.01em;
  color: rgba(20, 20, 20, 0.5);
}
/* TABLET */
@media screen and (min-width: 768px) {
  .container {
    width: 744px;
  }
  .sale-wrapper-section {
    padding-top: 128px;
    padding-bottom: 128px;
  }

  .sale-content {
    width: 704px;
    padding-right: 66px;
    padding-left: 66px;
  }
  .sale-description-title::after {
    margin-left: 452px;
  }
  .sale-details-title::after {
    margin-left: 358px;
  }
}

/* DESCTOP */
@media screen and (min-width: 1280px) {
  .container {
    width: 1216px;
  }
  .sale-wrapper-section {
    padding-top: 80px;
    padding-bottom: 160px;
  }
  .sale-text-wrap {
    width: 369px;
    margin-left: 40px;
  }

  .sale-content {
    display: inline-flex;
    width: 1175px;
    padding-right: 97px;
    padding-left: 97px;
  }
  .sale-description-title::after {
    margin-left: 248px;
  }
  .sale-details-title::after {
    margin-left: 155px;
  }
}
